<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> قدم للتوظيف </title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header class="mb-5">
        <div class="w-full min-h-[10vh] py-5 px-24 bg-black text-yellow-500 text-lg md:text-xl flex flex-col 
            md:flex-row justify-between items-center">
            <!-- logo -->
            <div>
                <h1 class="font-gadm text-4xl tracking-[5px]">
                    <a href="/">    قدم   </a>
                </h1>
            </div>
            <!-- nav -->
            <div>
                <nav>
                    <ul class="flex gap-x-10 font-bold">
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">المدونة</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">الخدمات</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">تواصل معنا</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>



    <main>
        <div class="text-center font-bold text-4xl text-black my-10">
            <span> تصل بنا </span>
        </div>
    </main>

    <div class="w-full h-fit relative -bottom-5 md:-bottom-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#166534" fill-opacity="1" d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        </svg>
    </div>
    <footer class="w-full min-h-fit bg-green-800 text-center py-8 text-white ">
        <div class="text-bold text-md md:text-xl flex flex-col gap-10
            justify-between items-center px-10">
            <div class="text-4xl font-bold text-yellow-500">
                <span> قدم </span>
            </div>
            <ul class="font-semibold text-xl">
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/how"> كيف نعمل </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/about">عن شركة قدم</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/dudues"> شركاؤنا </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/contact">اتصل بنا</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/whyus"> لماذا نحن </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/politics">الشروط والاحكام</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/commonQ">الاسئلة الشائعه</a>
                </li>
            </ul>
            <div class="text-xl font-bold">
                <span> جميع الحقوق محفوظه لشركة قدم للتوظيف<span class="text-yellow-600"> وظفني</span></span>
            </div>
        </div>
    </footer>
</body>
</html>